.card:hover {
    cursor: pointer;
    background-color: #b8f1b0;
}

.done {
    background-color: #00ffab;
}

.completed {
    color: white;
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}
